body{
    background-color: floralwhite;
}

.jumbotron{
    background-color: black;
    color: white;
}

#user{
    background-color: floralwhite;
    color: black;
}

#start{
    background-color: floralwhite;
    color: black;
}